@import "tailwindcss";

@layer components {
  .customContainer {
    @apply max-w-screen-lg w-[90%] mx-auto;
  }

  .btn {
    @apply bg-purple-500 hover:bg-purple-400 font-bold py-3 px-5 rounded inline-block cursor-pointer transition-colors capitalize text-purple-100;
  }

  .input {
    @apply p-3 rounded border border-gray-200;
  }

  .link {
    @apply text-sm text-white hover:underline;
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}
